.dropdown-menu {
  background-color: #191765;
  background-image: url("./assets/images/mobile-menu-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.dropdown-menu-icon {
  margin: 20px 13px;
  float: right;
  zoom: 2.5;
}

.menu-nav-links {
  list-style-type: none;
  background: transparent;
  clear: right;
}

.menu-nav-links li {
  background: transparent;
}

.nav-links {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-top: 40px;
  text-decoration: none;
  color: white;
}

.nav-links h3 {
  background: transparent;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  text-align: start;
  line-height: 32px;
}

.chevron-icon {
  opacity: 0.4;
}
