.project-container {
    width: 90%;
    height: 100vh;
    opacity: 0.4;
    background: blue;
    /* z-index: 2; */
    margin-left: 20px;
    position: fixed;
    top: 70px;

}

.hidden {
    display: none;
}

.active {
    display: block;
}