* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #191765;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.d-row {
  flex-direction: row;
}

.d-col {
  flex-direction: column;
}

.toolbar {
  min-height: 4rem;
  padding: 15px;
  color: white;
  opacity: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-desktop {
  display: none;
}

.logo {
  font-weight: 500;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.logo:hover {
  text-decoration: none;
}

.logo:active {
  text-decoration: none;
}

.logo:visited {
  text-decoration: none;
}

.headline-section {
  text-align: center;
  background: url("./assets/images/headline_bg.svg");
  background-repeat: no-repeat;
  min-height: 40vh;
}

.headline-section > h1 {
  color: #7d73fc;
  font-weight: bold;
  line-height: 72px;
  font-size: 48px;
  padding: 1.2rem;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
}

.headline-section > h2 {
  color: #edecff;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
}

.headline-section > p {
  color: #c8c8d4;
  padding: 2rem;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  background-color: transparent;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.horizontal-line {
  border: 0.2px solid #646369;
  margin: 25px;
}

.about-section {
  display: grid;
  min-height: 40vh;
  grid-template-columns: auto auto;
  padding: 1rem;
  gap: 10px;
  background: url("./assets/images/ellipse5.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.skill-set {
  background-color: transparent;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #9490ff;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  background-color: transparent;
}

.skills {
  list-style-type: none;
  padding: 1.2rem;
  background-color: transparent;
}

.skills > li {
  margin-bottom: 0.4rem;
  background-color: transparent;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #f5f5ff;
  font-family: Roboto, sans-serif;
}

.social-icons > ul {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-icons > ul > li > a {
  color: white;
  padding: 5px;
  zoom: 1.5;
  text-decoration: none;
}

.work-section {
  display: grid;
  min-height: 50vh;
}

.work-section-title-container1 {
  display: none;
}

.work-section-title-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #a2a3ae;
}

.work-section-title {
  text-align: center;
  color: #a2a3a3;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.work-icon {
  zoom: 2;
}

.recent-work {
  color: #9490ff;
  font-size: 40px;
  line-height: 42px;
  font-style: normal;
  font-weight: 500;
  padding: 60px 0 60px 1.7rem;
  font-family: Roboto, sans-serif;
}

.work-section-hr {
  margin-top: -60px;
}

.project {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.project1 {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.project-reverse {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.project-reverse1 {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.project-image {
  width: 340px;
  height: 236px;
  background-color: transparent;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.project-info-container1 {
  background: url("./assets/images/ellipse1.svg");
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-position-x: -40px;
}

.project-info-container2 {
  background: url("./assets/images/ellipse2.svg");
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  outline: none;
}

.project-info-container3 {
  background: url("./assets/images/ellipse3.svg");
  background-repeat: no-repeat;
}

.project-info-container4 {
  background: url("./assets/images/ellipse4.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.project-name {
  background-color: transparent;
  padding: 2rem;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  font-family: Roboto, sans-serif;
}

.project-description {
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
  padding: 2rem;
  font-family: Inter, sans-serif;
  background-color: transparent;
  color: #dcdce8;
}

.technologies > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  list-style-type: none;
}

.technologies > ul > li {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
}

.technologies > ul > li:not(:first-child) {
  border-left: 1px solid gray;
}

.project-button {
  background-color: #6b60fa;
  width: 89px;
  height: 48px;
  margin: 2rem;
  color: #edecff;
  border: none;
  outline: none;
}

.project-button:hover {
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 327px;
  height: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #9390ff;
  margin-bottom: 24px;
  margin-top: 120px;
}

.chat {
  display: none;
}

.contact-container p {
  width: 327px;
  height: 105px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  margin-bottom: 40px;
}

.form-input-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 327px;
  height: 48px;
  background-color: #fff;
  margin: 15px 15px;
  padding: 15px 16px;
}

.client-message {
  margin-top: 15px;
  width: 327px;
  height: 148px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
  padding: 12px 12px;
}

.submit-message-button {
  width: 100px;
  height: 48px;
  padding: 12px 12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #edecff;
  margin-top: 40px;
  background-color: #7d73fc;
  border: none;
  outline: none;
}

.submit-message-button:hover {
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

.footer-social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 71px;
}

.footer-social-icons li i {
  padding: 20.01px;
  color: #fff;
}

.developer-email {
  width: 221px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  color: #42526e;
  margin-top: 17px;
  margin-bottom: 40px;
}

/* media queries */

@media (min-width: 576px) {
  .toolbar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 26px;
  }

  .bar-icon {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  .skills li {
    font-weight: normal;
    font-size: 14.1935px;
    line-height: 28px;
    font-style: normal;
  }

  .navbar-desktop {
    display: block;
    width: 50%;
  }

  .navbar-desktop ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar-desktop ul li {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .headline-section {
    margin-top: 140px;
    line-height: 109px;
    background: url("./assets/images/ellipse-desktop1.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .headline-section h1 {
    font-size: 75px;
    margin-left: 142px;
    margin-right: 142px;
    line-height: 105px;
  }

  .headline-section h2 {
    font-size: 40px;
    line-height: 47px;
    margin-left: 142px;
    margin-right: 142px;
  }

  .headline-section p {
    width: 600px;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
  }

  .about-section {
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    background: url("./assets/images/ellipse-desktop1.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .title {
    font-size: 18px;
    line-height: 29px;
    font-weight: bold;
  }

  .work-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
  }

  .work-section-title-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a2a3ae;
  }

  .work-section-title-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icons ul {
    align-items: center;
  }

  .recent-work {
    font-size: 40px;
    line-height: 114px;
    font-weight: 700;
  }

  .contact {
    display: none;
  }

  .chat {
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: #9390ff;
    margin-bottom: 24px;
    margin-top: 120px;
  }

  .contact-container p {
    width: 400px;
  }

  .input {
    width: 400px;
  }

  .client-message {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .logo:hover {
    text-transform: uppercase;
  }

  .fa-envelope:hover {
    rotate: 12deg;
  }

  .project {
    background-image: url("./assets/images/ellipse-desktop2.svg");
    background-repeat: no-repeat;
    flex-direction: row;
    background-position-y: 95%;
    background-position-x: -8%;
  }

  .project-info-container1 {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: flex-end;
  }

  .project-description {
    min-width: 400px;
  }

  .project-image {
    margin-left: 50px;
    margin-right: 50px;
    height: 430px;
    width: 600px;
  }

  .project1 {
    background: url("./assets/images/ellipse-desktop4.svg");
    background-repeat: no-repeat;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: left;
  }

  .project-reverse {
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    background: url("./assets/images/ellipse-desktop3.svg");
    background-position: right;
    background-repeat: no-repeat;
  }

  .project-reverse1 {
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    background: url("./assets/images/ellipse-desktop5.svg");
    background-position: right top;
    background-repeat: no-repeat;
  }

  .project-info-container2 {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: flex-end;
  }

  .project-info-container3 {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: flex-end;
  }

  .project-info-container4 {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: flex-end;
  }

  .input {
    width: 600px;
  }

  .client-message {
    width: 600px;
  }
}
