* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #191765;
  font-family: -apple-system, Raleway, Roboto, Oxygen, sans-serif;
}

.toolbar {
  min-height: 4rem;
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  opacity: 1;
  width: 100%;
  justify-content: space-between;
}

.bar-icon {
  zoom: 1.5;
}

.bar-icon:hover {
  zoom: 1.8;
  transition: ease-out;
  box-shadow: 1px 1px 5px gray;
}

.logo {
  font-weight: 500;
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

.logo:active {
  text-decoration: none;
}

.logo:visited {
  text-decoration: none;
}

.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./assets/images/headline_bg.svg");
  background-repeat: no-repeat;
  min-height: 40vh;
}

.headline-section > h1 {
  color: #7d73fc;
  font-weight: 700;
  line-height: 50px;
  font-size: 2.3rem;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
}

.headline-section > h2 {
  color: #edecff;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
}

.headline-section > p {
  color: #c8c8d4;
  padding: 2rem;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  font-weight: 400;
}

.horizontal-line {
  border: 0.2px solid #646369;
  margin: 25px;
}

.about-section {
  display: grid;
  min-height: 40vh;
  grid-template-columns: auto auto;
  padding: 1rem;
  gap: 10px;
}

.title {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #9490ff;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
}

.skills {
  list-style-type: none;
  padding: 1.2rem;
  color: white;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

.skills > li {
  margin-bottom: 0.3rem;
}

.social-icons {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icons > a {
  color: white;
  padding: 5px;
  zoom: 1.5;
  text-decoration: none;
}

.work-section {
  display: grid;
  min-height: 50vh;
}

.work-section-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #a2a3ae;
}

.work-section-title {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  font-weight: 500;
}

.work-icon {
  zoom: 2;
}

.recent-work {
  color: #9490ff;
  font-size: 50px;
  line-height: 60px;
  font-style: normal;
  font-weight: 500;
  padding: 60px 0 60px 1.7rem;
}

.work-section-hr {
  margin-top: -60px;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 340px;
  height: 236px;
  background-color: transparent;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.project-info-container1 {
  background: url("./assets/images/ellipse1.svg");
  background-repeat: no-repeat;
}

.project-info-container2 {
  background: url("./assets/images/ellipse2.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.project-info-container3 {
  background: url("./assets/images/ellipse3.svg");
  background-repeat: no-repeat;
}

.project-info-container4 {
  background: url("./assets/images/ellipse4.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.project-name {
  background-color: transparent;
  padding: 2rem;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
}

.project-description {
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
  padding: 2rem;
  color: white;
  font-family: Inter -apple-system, Raleway, Roboto, Oxygen, sans-serif;
  background-color: transparent;
}


.technologies > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  list-style-type: none;
}

.technologies > ul > li:not(:first-child) {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border-left: 1px solid gray;
  padding: 10px;
}

.project-button {
  background-color: #6b60fa;
  width: 89px;
  height: 48px;
  margin: 2rem;
  color: #edecff;
  border: none;
  outline: none;
}

.project-button:hover {
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}
